  body {
    margin: 0;
  }
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  .topnav {
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 100%;
    background-color: #333;
    position: fixed;
    z-index: 3000;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
 .headerimage{
   border-image-slice: 10px;
   background-color: rgba(0,0,0,0.1);
 }
 .headerimage img{
   max-width: 100%;
   object-fit: cover;
   object-position: 100%;
   width: 100%;
   height: 500px;
 }
 @media screen and (min-width : 601px){
  div.heading1{
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
    font-family: 'Lucida Sans';
    max-width: 100%;
    height: auto;
    border-style: solid;
    border-bottom: 10px solid;
    border-top: 10px solid;
    border-left: 10px solid;
    border-right: 10px solid;
  }
}
 @media screen and (max-width : 600px){
   div.heading1{
     font-size: 20px;
     text-align: center;
     position: absolute;
     top: 25%;
     left: 50%;
     transform: translate(-50%,-50%);
     color:white;
     font-family: 'Lucida Sans';
     max-width: 100%;
     height: auto;
     border-style: solid;
     border-bottom: 10px solid;
     border-top: 10px solid;
     border-left: 10px solid;
     border-right: 10px solid;
   }
 }
 .Abstrak1{
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 30px;
   padding: 3% 15% 1% 15%;
 }
 .Abstrak2{
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20px;
   font-style: italic;
   padding: 0% 15% 3% 15%;
 }
 .Placetovisit img{
   float: left;
   padding: 3% 0.5% 5% 9.5%;
   width: 700px;
   height: 615px;
   object-fit: cover;
 }
 .Transportation img{
  float: right;
  padding: 3% 9.5% 0.5% 0.5%;
  width: 510px;
  height: 300px;
  object-fit: cover;
}
.Food img{
  float: right;
  padding: 0.5% 9.5% 5% 0.5%;
  width: 510px;
  height: 300px;
  object-fit: cover;
}
.Placetovisittext{
  top: 167%;
  left: 12%;
  position: absolute;
  color:white;
  font-family: 'Lucida Sans';
  max-width: 100%;
}
.Transportationtext{
  top: 125%;
  left: 60%;
  position: absolute;
  color:white;
  font-family: 'Lucida Sans';
  max-width: 100%;
}
.Foodtext{
  top: 167%;
  left: 60%;
  position: absolute;
  color:white;
  font-family: 'Lucida Sans';
  max-width: 100%;
}
.subbab{
  margin-left: 10.5%;
  margin-right: 10.5%;
}
.tokyoevent1 img{
  float: left;
  width: 387px;
  height: 250px;
  object-fit: cover;
  padding: 1% 0.5% 5% 10.5%;
}
.tokyoevent2 img{
  float: left;
  width: 387px;
  height: 250px;
  object-fit: cover;
  padding: 1% 0.5% 5% 0.8%;
}
.tokyoevent3 img{
  float: right;
  width: 387px;
  height: 250px;
  object-fit: cover;
  padding: 1% 10.5% 5% 0%;
}
.eventtext1{
  float: left;
  padding: 18% 5% 5% 19%;
  position: absolute;
  color:black;
  font-family: 'Lucida Sans';
  max-width: 100%;
  text-align: center;
}
.eventtext2{
  float: left;
  padding: 18% 5% 5% 44%;
  position: absolute;
  color:black;
  font-family: 'Lucida Sans';
  max-width: 100%;
  text-align: center;
}
.eventtext3{
  float: left;
  padding: 18% 5% 5% 72%;
  position: absolute;
  color:black;
  font-family: 'Lucida Sans';
  max-width: 100%;
  text-align: center;
}
.subbab2{
  padding: 26% 10.5% 0.5% 10.5%;
}
.instagram{
  float: left;
  padding: 0.5% 0.5% 3% 10.5%;
}
.instagram img{
  object-fit: cover;
  width: 196.5px;
  height: 200px;
}
.contentimage img{
  padding: 50px 1000px 10px 160px;
  object-fit: cover;
  width: 300px;
  height: 240px;
  float: left;
}
.contenttitle1{
  padding: 50px 160px 0px 10px;
  left: 480px;
  float: left;
  color:black;
  font-size: 20px;
  font-family: 'Lucida Sans';
  max-width: 100%;
  height: auto;
  text-align: justify;
  position: absolute;
}
.contentfill{
  padding: 0px 0px 10px 10px;
  float: left;
  color:black;
  font-size: 14px;
  font-family: 'Lucida Sans';
  max-width: 100%;
  text-align: justify;
}
.contenttitle2{
  padding: 350px 160px 0px 10px;
  left: 480px;
  color: black;
  font-size: 20px;
  font-family: 'Lucida Sans';
  max-width: 100%;
  height: auto;
  text-align: justify;
  position: absolute;
}
.contenttitle3{
  padding: 650px 160px 0px 10px;
  left: 480px;
  float: left;
  color:black;
  font-size: 20px;
  font-family: 'Lucida Sans';
  max-width: 100%;
  height: auto;
  text-align: justify;
  position: absolute;
}
.contenttitle4{
  padding: 950px 160px 0px 10px;
  left: 480px;
  float: left;
  color:black;
  font-size: 20px;
  font-family: 'Lucida Sans';
  max-width: 100%;
  height: auto;
  text-align: justify;
  position: absolute;
}
#content {

}
